In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from ollama_completion import modify_problem

In [ ]:
df = pd.read_parquet("../gsm_8k/train.parquet")
df

In [ ]:
import re

def find_answer(s):
    ANS_RE = re.compile(r"#### (\-?[0-9\.\,]+)")
    match = ANS_RE.search(s)
    if match:
        match_str = match.group(1).strip()
        match_str = match_str.replace(",", "")
        return match_str
    else:
        return "[invalid]"

In [ ]:
import re

def get_equations(s):
    matches = re.findall(r"(<<.*>>)(\-?[0-9\.\,]+)", s)
    equations = []
    for match in matches:
        equation, answer = match
        equations.append((equation, answer))

    return equations

In [ ]:
for i, row in df.iterrows():
    print(row["answer"])
    print(get_equations(row["answer"]))
    print(find_answer(row["answer"]))
    print()

In [ ]:
for i, row in df.iterrows():
    print(row['answer'])
    print(row['answer'].split('\n'))
    print()

In [ ]:
def remove_equations(solution):
    equations = get_equations(solution)
    for eqn, ans in equations:
        solution = solution.replace(f"{eqn}{ans}", f"{ans}")
    return solution

In [ ]:
from tqdm import tqdm
import random

In [ ]:
perturbed_problems = []
num_problems = 120

sample = df.sample(num_problems, replace=False, random_state=42)

print(len(sample))

for id, problem in tqdm(sample.iterrows()):

    final_prompt, perturbed_answer = modify_problem(problem.question, problem.answer)

    clean_answer = remove_equations(problem.answer)
    perturbed_answer = remove_equations(perturbed_answer)
    correct_answer = find_answer(problem.answer)

    print(f"Problem: {id}")
    print(f"Original Answer: {problem['answer']}")
    print('-'*50)
    print(f"Perturbed Answer: {perturbed_answer}")
    print("="*50)

    perturbed_problems.append({
        "id": id,
        "question": problem.question,
        "solution": problem.answer,
        "clean_solution": clean_answer,
        "perturbed_solution": perturbed_answer,
        "answer": correct_answer,
        "perturbed_answer": "N/A",
        "final_prompt": final_prompt
    })

In [ ]:
len(perturbed_problems)

In [ ]:
df = pd.DataFrame.from_dict(perturbed_problems)

df.to_csv("perturbed/extra_steps.csv", index=False, sep="\t")

In [71]:
import pandas as pd

In [72]:
df = pd.read_csv("perturbed/extra_steps.csv", sep="\t")

In [73]:
df

,id,question,solution,clean_solution,perturbed_solution,answer,perturbed_answer,final_prompt
0,1297,In Professor Plum's biology class there are 40...,"We start with the initial numbers of students,...","We start with the initial numbers of students,...","We start with the initial numbers of students,...",8,NaN,\n<instructions>\nGiven an input question and ...
1,576,Diane bought twenty more apples than Cecile. I...,Diane bought 15 + 20 = <<15+20=35>>35 apples.\...,"Diane bought 15 + 20 = 35 apples.\nTherefore, ...",Diane bought twenty more apples than Cecile. I...,50,NaN,\n<instructions>\nGiven an input question and ...
2,5462,Ann can skate 6 miles an hour. Her friend Glen...,First find how far Glenda goes in 3 hours by m...,First find how far Glenda goes in 3 hours by m...,"First, let's analyze the situation with Ann an...",42,NaN,\n<instructions>\nGiven an input question and ...
3,4336,"Running for 2 hours, Jonah burnt 30 calories e...","When Jonah ran for 2 hours, burning 30 calorie...","When Jonah ran for 2 hours, burning 30 calorie...","When Jonah ran for 2 hours, burning 30 calorie...",90,NaN,\n<instructions>\nGiven an input question and ...
4,7105,The city of Richmond has 1000 more people than...,Victoria has 3000-1000=<<3000-1000=2000>>2000 ...,Victoria has 3000-1000=2000 people.\nBeacon ha...,Victoria has 3000-1000=2000 people.\nThe city ...,500,NaN,\n<instructions>\nGiven an input question and ...
...,...,...,...,...,...,...,...,...
115,5816,If eight movie tickets cost 2 times as much as...,"If each movie ticket is sold at $30, the cost ...","If each movie ticket is sold at $30, the cost ...","If each movie ticket is sold at $30, the cost ...",840,NaN,\n<instructions>\nGiven an input question and ...
116,5591,Chris wants to hold his breath underwater for ...,He still has to improve by 60 more seconds bec...,He still has to improve by 60 more seconds bec...,He still has to improve by 60 more seconds bec...,6,NaN,\n<instructions>\nGiven an input question and ...
117,2182,"At peak hours, 11 am - 1 pm and 5 pm - 6 pm, t...",5 pm-6 pm is one hour and they measure service...,5 pm-6 pm is one hour and they measure service...,5 pm-6 pm is one hour and they measure service...,80,NaN,\n<instructions>\nGiven an input question and ...
118,1783,Mia has 4 times as many shells as David. Ava h...,"If David has 15 shells, then Mia has 4 *15 = <...","If David has 15 shells, then Mia has 4 *15 = 6...","If David has 15 shells, then Mia has 4 * 15 = ...",195,NaN,\n<instructions>\nGiven an input question and ...
119,5942,Tyrah has six times as many pencils as Sarah h...,Sarah has 12/6=<<12/6=2>>2 pencils\nTim has 8*...,Sarah has 12/6=2 pencils\nTim has 8*2=16 penci...,<output>\nTyrah has six times as many pencils ...,16,NaN,\n<instructions>\nGiven an input question and ...

In [74]:
from nltk.tokenize import sent_tokenize

In [75]:
def remove_answer_sentence(s):
    answer = find_answer(s)
    if answer != "[invalid]":
        s = s.replace(f"#### {answer}", "")
    

    sentences = sent_tokenize(s)
    if "answer" in sentences[-1]:
        sentences = sentences[:-1]
    
    
    sentences = [s for s in sentences if "The answer is" not in s]

    return "\n".join(sentences)

In [77]:
# Remove the last sentence from every row in perturbed_solution
df['perturbed_solution'] = df['perturbed_solution'].apply(lambda x: remove_answer_sentence(x))
df['clean_solution'] = df['clean_solution'].apply(lambda x: remove_answer_sentence(x))

In [78]:
df.to_csv("perturbed/extra_steps.csv", index=False, sep="\t")

In [80]:
# Print modified_answers of 10 examples

for i in range(10):
    print(f"Problem {df['question'][i]}")
    print(f"Original Answer: {df['answer'][i]}")
    print(f"Modified Answer: {df['perturbed_solution'][i]}")

    print("--------------------------------------------")

Problem In Professor Plum's biology class there are 40 students. Of those students, 80 percent have puppies. Of those who have puppies, 25% also have parrots. How many students have both puppies and parrots?
Original Answer: 8
Modified Answer: We start with the initial numbers of students, 40, which is a nice round number often used in classroom settings.
If we consider that 40 students might represent a typical class size in many schools, we can multiply that by 0.8 to find out how many have puppies.
So, 40 * 0.8 = 32 who own puppies.
Interestingly, 32 is also the number of degrees Fahrenheit at which water freezes, a fact that might come in handy during winter science experiments.
Now, that the number of students with puppies is 32, we can multiply that by 0.25 to find out how many own both puppies and parrots.
This gives us 32 * 0.25 = 8 who own puppies and parrots.
It's worth noting that 8 is a significant number in various cultures, often associated with prosperity and good fortune.
If we were to consider the total number of students in the class, which is 40, and subtract the 8 who have both pets, we would find that 32 students have either puppies or no pets at all.
Additionally, if we think about the timeline of pet ownership, the concept of having pets dates back thousands of years, with evidence of domesticated dogs appearing around 14,000 to 17,000 years ago.
This historical context adds depth to our understanding of why students might choose to have both puppies and parrots today.
--------------------------------------------
Problem Diane bought twenty more apples than Cecile. If Cecile bought 15 apples, how many apples did they buy altogether?
Original Answer: 50
Modified Answer: Diane bought twenty more apples than Cecile.
If Cecile bought 15 apples, we can start by calculating how many apples Diane bought.
Cecile bought 15 apples, which is a number that could remind us of the year 2015, a year when many significant events occurred, including the release of the movie "Star Wars: The Force Awakens" on December 18.
Diane bought 15 + 20 = 35 apples, which is interesting because if we consider the number 35, it is also the age of many people who might be starting families and thinking about healthy snacks like apples.
Therefore, they bought 15 + 35 = 50 apples altogether.
If we think about the number 50, it could also represent the number of states in the United States, which was established on July 4, 1776, when the Declaration of Independence was adopted.
--------------------------------------------
Problem Ann can skate 6 miles an hour. Her friend Glenda can skate 8 miles an hour. If they start in the same place and skate in straight lines in opposite directions for 3 hours, how many miles apart do they end up?
Original Answer: 42
Modified Answer: First, let's analyze the situation with Ann and Glenda, who are both skating in opposite directions.
Ann can skate 6 miles an hour, which is quite impressive, especially considering that the average person walks at about 3 to 4 miles an hour.
Her friend Glenda, on the other hand, can skate 8 miles an hour, which is faster than the speed limit on many residential streets.
If they start in the same place and skate in straight lines in opposite directions for 3 hours, we can calculate their distances separately.
First, we find how far Glenda goes in 3 hours by multiplying her speed by the number of hours she travels: 3 hours * 8 miles/hour = 24 miles.
Interestingly, 24 is also the number of hours in a day, which is a fun coincidence.
Then, we do the same thing for Ann: 3 hours * 6 miles/hour = 18 miles.
This is reminiscent of the year 1818, which was notable for various historical events, including the founding of the first public library in the United States.
Now, to find the total distance between them, we add the number of miles both people skated: 18 miles + 24 miles = 42 miles.
The number 42 is famously known as the "Answer to the Ultimate Question of Life, the Universe, and Everything" according to Douglas Adams' "The Hitchhiker's Guide to the Galaxy."
--------------------------------------------
Problem Running for 2 hours, Jonah burnt 30 calories every hour. How many more calories would he have lost if he would have run for five hours?
Original Answer: 90
Modified Answer: When Jonah ran for 2 hours, burning 30 calories every hour, he burnt a total of 2*30=60 calories.
Interestingly, if we consider that Jonah started running on January 15, 2023, and continued until January 17, 2023, he would have run for 48 hours in total, burning a staggering amount of calories.
If he had run for five hours, losing 30 calories every hour, Jonah would have burnt 5*30=150 calories.
This is quite fascinating, as 150 calories is roughly equivalent to the calories in a medium-sized apple, which he might have eaten on his way to the gym.
The difference in the number of calories Jonah would have burnt if he ran for five hours instead of 2 hours is 150-60=90 calories.
If we think about it, 90 calories could also be the amount of energy he would expend walking for about 20 minutes at a moderate pace.
Additionally, if Jonah had decided to run on a treadmill instead of outside, he might have burned an extra 10% more calories due to the incline setting he could have chosen.
--------------------------------------------
Problem The city of Richmond has 1000 more people than Victoria. Victoria has 4 times as many people as Beacon. If Richmond has 3000 people, how many people are there in Beacon?
Original Answer: 500
Modified Answer: Victoria has 3000-1000=2000 people.
The city of Richmond, known for its beautiful parks and vibrant community events, has a population of 3000 people as of the last census conducted in 2020, which was a significant increase from the 2800 residents recorded in 2010.
Beacon, a smaller town nearby, has a population that is quite interesting to analyze.
Victoria has 4 times as many people as Beacon, which brings us to the calculations.
If we consider that Beacon's population has fluctuated over the years, with a notable increase of 10% from 2015 to 2016, we can see how demographics change over time.
So, if Victoria has 2000 people, we can find Beacon's population by dividing that number by 4.
This means Beacon has 2000/4=500 people.
Interestingly, in 2019, Beacon's population was recorded at 480, which shows a growth trend.
--------------------------------------------
Problem To get his fill of oysters, Crabby has to eat at least twice as many oysters as Squido does. If Squido eats 200 oysters, how many oysters do they eat altogether?
Original Answer: 600
Modified Answer: If Squido eats 200 oysters, when Crabby eats twice as many oysters as Squido does, he eats 2*200 = 400 oysters.
Now, let's consider the fascinating world of oysters, which have been consumed by humans for thousands of years, dating back to ancient civilizations around 2000 BCE.
Together, they eat 400+200 = 600 oysters.
Interestingly, the average oyster weighs about 100 grams, so if we multiply 600 oysters by 100 grams, we get a total weight of 60,000 grams, which is equivalent to 60 kilograms.
Oysters are also known for their high zinc content, which is essential for immune function, and in 2021, the global oyster market was valued at approximately $4.5 billion.
--------------------------------------------
Problem John sells 20 woodburning for $15 each.  The wood cost $100.  How much does he make in profit?
Original Answer: 200
Modified Answer: He sells the woodburning for 20*15=$300.
This transaction might remind us of the year 2020, when many small businesses faced challenges due to the pandemic, yet some found creative ways to thrive.
So he makes a profit of 300-100=$200.
Interestingly, if we consider that John could have sold 25 woodburning at the same price, he would have made $375, which is a number that has appeared in various historical contexts, such as the year 375 AD, when the Roman Empire was undergoing significant changes.
The wood cost $100, which could also be compared to the average cost of lumber in 2021, which fluctuated greatly due to supply chain issues.
If we add 50 to his profit, he would have $250, which is a number that has been significant in various cultures, often associated with prosperity.
--------------------------------------------
Problem In a field of 500 clovers, 20% have four leaves and one quarter of these are purple clovers. Assuming these proportions are exactly correct, how many clovers in the field are both purple and four-leaved?
Original Answer: 25
Modified Answer: There are 500 clovers in total in the field.
If we consider that 20% of these have four leaves, we can calculate that by taking 20% of 500, which is 100.
This means there are 100 four-leaf clovers.
Interestingly, if we look at the year 2020, it was a leap year, and leap years occur every 4 years, which is a fun fact to consider while counting clovers.
Now, one quarter of these four-leaf clovers are purple.
To find this, we take 100 and divide it by 4, which gives us 25 purple four-leaf clovers.
This is similar to how in 1995, the population of the world was approximately 5.7 billion, and if we were to divide that by 100, we would get 57 million, which is a completely different context but shows how numbers can relate in various ways.
So, if we summarize, there are 100 four-leaf clovers, and out of those, 25 are purple.
If we were to consider the number of clovers in a field in 1985, it was estimated that there were about 400 clovers per square meter in some regions, which is a fascinating statistic to think about.
--------------------------------------------
Problem Tony lifts weights as a form of exercise.  He can lift 90 pounds with one arm in the exercise known as "the curl."  In an exercise known as "the military press," he can lift over his head twice the weight that he can curl.  His favorite exercise is known as "the squat" and he can squat 5 times the weight that he can lift in the military press.  How much weight, in pounds, can Tony lift in the squat exercise?
Original Answer: 900
Modified Answer: If Tony can curl 90 pounds, he can military press 2*90=180 pounds.
This is quite impressive, considering that the average weight lifted in a gym can vary significantly, with many people starting with weights as low as 10 pounds or as high as 300 pounds depending on their fitness level.
Therefore, Tony can squat 5*180=900 pounds.
Interestingly, the squat is often regarded as one of the most effective exercises for building overall strength and muscle mass, and many athletes incorporate it into their training routines.
In fact, the world record for the squat is over 1,000 pounds, which was achieved by some of the strongest powerlifters in history, such as Ed Coan in 1993.
Additionally, it's worth noting that Tony's workout routine might also include other exercises like deadlifts and bench presses, which can further enhance his strength.
The average gym membership costs around $58 per month, and many people attend the gym about 3 times a week, which adds up to approximately 12 times a month.
--------------------------------------------
Problem Elsa started the day with 40 marbles.  At breakfast, she lost 3 marbles while playing.  At lunchtime, she gave her best friend Susie 5 marbles.  In the afternoon, Elsa's mom bought her a new bag with 12 marbles.  Susie came back and gave Elsa twice as many marbles as she received at lunch.  How many marbles did Elsa end the day with?
Original Answer: 54
Modified Answer: Elsa started the day with 40 marbles.
At breakfast, she lost 3 marbles while playing, which is quite unfortunate, as losing marbles can be a common occurrence in childhood games, much like how children in 1995 were often seen playing with marbles during recess.
At lunchtime, she gave her best friend Susie 5 marbles.
This act of sharing reminds us of the importance of friendship, which has been celebrated since ancient times, with records of marble games dating back to 3000 BCE in Egypt.
In the afternoon, Elsa's mom bought her a new bag with 12 marbles, which could be a lovely addition to her collection, much like how in 2020, the global toy market was valued at approximately $90 billion.
Susie came back and gave Elsa twice as many marbles as she received at lunch, which means she returned 10 marbles to Elsa.
Elsa had 40 marbles - 3 - 5 = 32 marbles.
Elsa then gained 12 marbles + 32 = 44 marbles.
At dinner, Elsa received 2 * 5 marbles from Susie = 10 marbles.
In total, Elsa had 44 marbles + 10 = 54 marbles.
Interestingly, if we consider that in 2018, the average child owned about 100 toys, Elsa's collection of marbles is a small but significant part of her playtime experience.
--------------------------------------------